section{
    padding-top: 3vh;
    padding-bottom: 3vh;
}
ul{
    list-style-type: none;
}
ul li {
    padding:3vh 2vw 3vh 2vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    box-shadow: 0 4px 8px 0 lightgray, 0 6px 20px 0 lightgray;

}
ul li img{
    text-align: left;
    float: left;
    margin-right: 10px;
}
.profile__name{
    text-align: left;
    float: left;
    height: 80px;
}
h2{
    margin-top: 24px;
}
ul li p{
    margin: 40px 0 10px 0;
}
.twit__like {
    color:gray;
    display: inline-block;
    
}
.twit__like--red{
    color: red;
    display: inline-block;
    transition: all .35s ease-out;
}
.like__result{
    color: black;
}
/*twittear*/
.create{
    text-align: left;
    padding:3vh 2vw 3vh 2vw;
}
.image-selected{
    margin-right: 10px;
    float: left;
}
select{
    position: relative;
    overflow: hidden;
}
#create__twittear{
    display: block;
    margin-top:20px;
}
#texto-twit{
    margin-top: 20px;
    position: relative;
    margin-right:10em;
}
.twit__delete{
    float: right;
}
.like__result{
    display: inline-block;
}
